body {
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: green;
    font-size: 40px;
    font-style: italic
}

p {
    text-align: center;
}

.question-inputs {
    display: block;
    margin: 5px
}

div.question-inputs > input {
    margin-left: 15px;
}

.question-images {
    display: block;
}
div.question-images > img {
    margin-left: 20px
}


#pet-image-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#submit {
    margin: 20px;
    background-color: green;
    color: white;
    width: 100px;
    height: 25px;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two-choices {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly
}

@media screen and (min-width: 600px) {
    .choices {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

#radio-button {
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]:checked + img {
    outline: 3px solid yellowgreen;
    outline-offset: 1px;
}