body {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif
}

.question-one-images {
    display: block;
}

.question-one-inputs {
    display: block;
}

.question-two-inputs {
    display: block
}

.question-three-inputs {
    display: block
}

#submit {
    margin: 20px
}
