body {
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    font-style: italic
}

p {
    text-align: center;
}

.question-inputs {
    display: block;
    margin: 5px
}

div.question-inputs > input {
    margin-left: 15px;
}

.question-one-images {
    display: block;
}
div.question-one-images > img {
    margin-left: 20px
}


#pet-image-container {
    text-align: center;
}

#submit {
    margin: 20px;
}
