body {
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}

p {
    text-align: center;
}

.question-one-images {
    display: block;
}

.question-one-inputs {
    display: block;
}

.question-two-inputs {
    display: block
}

.question-three-inputs {
    display: block
}

#pet-image-container {
    text-align: center;
}

#submit {
    text-align: center;
}
